* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF7500;
    --secondary-color: #121212;
    --tertiary-color: #FFFFFF;
    --normal-text-color: #565656;
    --black-shade: #292929;
    --seconday-text-color: #A9A9A9;
    --paragraph-color: #88888
}

a {
    color: white;
    text-decoration: none;
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columnFlexBox {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 16px;
}

/* Header  */
header {
    background-color: black;
    color: white;
}

.navMenu {
    display: none;
}

.bookButton {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    padding: 8px 4px;
}

.headerContent {
    padding: 50px 0 50px 0;
    text-align: center;
}

.headerContent h1 {
    text-transform: uppercase;
    font-size: 36px;
}

.bookServicesWrapper {
    display: none;
}

.headerBanner {
    width: 100%;
}

/* Services  */
#services .flexBox {
    gap: 3px;
}

.facility .flexBox {
    justify-content: center;
}

.facImage {
    background-color: rgba(255, 117, 0, 0.05);
    border-radius: 50%;
    padding: 6px;
}

.facility img {
    width: 30px;
    height: 30px;
}

.facility p {
    color: var(--normal-text-color);
    font-size: 12px;
    max-width: 45px;
}

/* Title  */
.titleWrapper .columnFlexBox {
    align-items: center;
}

.titleWrapper h1 span {
    color: var(--primary-color);
}

.titleWrapper p {
    max-width: 230px;
    text-align: center
}

/* Reason Wrapper  */
.reasonsWrapper.flexBox {
    flex-direction: column;
}

.reasonContent.columnFlexBox {
    gap: 30px;
}

.picturesWrapper .hiddenImg {
    display: none;
}

.reason.columnFlexBox,
.number.flexBox {
    gap: 10px;
}

.number.flexBox {
    justify-content: flex-start;
}

.number.flexBox img {
    width: 30px;
}

.comments.flexBox {
    gap: 8px;
    margin: 12px;
}

.personDetail p {
    font-size: 12px;
}

/* Our room  */

.roomChoices .columnFlexBox {
    align-items: center;
}

.roomDescWrapper h1 {
    margin: 8px;
}

.roomChoices .flexBox {
    flex-direction: column;
    gap: 8px;
}

.roomPicWrapper {
    margin: 30px 0 60px
}

.roomPicWrapper .columnFlexBox {
    gap: 12px;
}

.roomPicWrapper p {
    color: var(--seconday-text-color);
    margin: 8px 0 2px;
}

.roomPicWrapper h4 {
    color: var(--black-shade);

}

.roomPicWrapper .row2 img {
    width: 320px;
}

.row1,
.row2,
.row3 {
    text-align: center;
}


.room {
    border-bottom: 1px solid var(--primary-color);
}

/* About US  */
.aboutUs {
    background-color: var(--secondary-color);
    color: white;
}


.line {
    width: 100px;
    height: 4px;
    background-color: var(--primary-color);
}

.aboutBanner.flexBox {
    flex-direction: column;
}

.about.columnFlexBox button {
    margin-top: 20px;
    padding: 7px 22px;
    background-color: Var(--primary-color);
    border-radius: 50px;
    border: none;
    color: white;
}

.about.columnFlexBox {
    align-items: center;
}

.about.columnFlexBox .line {
    margin: 8px 0 20px;
}

.about.columnFlexBox p {
    color: var(--paragraph-color);
    margin-bottom: 12px;
}





/* Classic rooms and interios  */
.outer.flexBox {
    flex-direction: column;
    margin-bottom: 40px;
}

.interiorWrapper.columnFlexBox {
    text-align: center;
    gap: 32px;
}

.classicroom.columnFlexBox {
    gap: 16px;
}

.reviewBanner.columnFlexBox {
    gap: 5px;
}

.mleft {
    margin-left: -20px;
}

.fWrapper.flexBox {
    gap: 5px;
    justify-content: flex-start;
}

.featuresWrapper.columnFlexBox,
.featureBanner.flexBox {
    gap: 10px;
}

.feature.columnFlexBox {
    gap: 5px;
}

.featureBanner.flexBox {
    flex-direction: column;
}

/* Footer  */
footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

footer a {
    font-size: 12px;
}

.smallScreenWrapper {
    text-align: center;
}

.smallScreenWrapper p {
    color: var(--paragraph-color);
    margin: 8px 0;
}

footer .container .smallScreenWrapper.columnFlexBox {
    align-items: center;
}

.subsribeButton {
    border-radius: 4px;
}

.subsribeButton input,
.subsribeButton button {
    padding: 8px 12px;
    border: none;
    color: white;
}

.subsribeButton input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.subsribeButton button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--primary-color);
}

.linksWrapper {
    margin: 24px 0;
}

.linksWrapper .infoWrapper {
    display: none;
}

.linksWrapper h6 {
    margin-bottom: 12px;
}

.linksWrapper .columnFlexBox {
    gap: 8px;
}


.footerIcons .flexBox {
    gap: 12px;
}


@media (min-width: 481px) {
    .container {
        padding: 32px
    }

    /* header  */
    .hamburger {
        display: none;
    }

    .navMenu {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .bookButton {
        padding: 8px 24px;
    }

    .headerContent {
        padding: 75px 0 110px;
    }

    .headerContent h1 {
        font-size: 36px;
        max-width: 400px;
    }

    .bookServicesWrapper {
        display: flex;
        gap: 16px;
    }

    .bookServicesWrapper .flexBox {
        gap: 72px;
    }


    .bottomLine {
        padding: 8px;
        border-bottom: 1px solid var(--tertiary-color);
    }

    /* Services  */
    .facImage {
        padding: 13px;
    }

    .facImage img {
        width: 40px;
        height: 40px;
    }

    .facility p {
        font-size: 16px;
    }

    #services .flexBox {
        gap: 15px;
    }

    /* Title  */
    .titleWrapper h1 {
        font-size: 46px;
    }

    .titleWrapper p {
        font-size: 16px;
        max-width: 475px;
    }

    /* Reason Wrapper  */
    .reasonsWrapper.flexBox {
        flex-direction: row;
    }

    /* Our Rooms  */

    .roomPicWrapper p {
        font-size: 14px;
    }

    .roomPicWrapper h4 {
        font-size: 22px;
    }

    .roomPicWrapper .columnFlexBox {
        flex-direction: row;
    }

    .roomPicWrapper .row2 img {
        width: 100%;
    }

    .room {
        border: none;
    }

    .row1,
    .row2,
    .row3 {
        text-align: start;
    }

    /* About us  */
    .aboutBanner.flexBox {
        flex-direction: row;
    }

    .about.columnFlexBox {
        width: 400px;
    }

    .about.columnFlexBox .aboutUs .about {
        align-items: flex-start;
    }

    .aboutUs .about p {
        width: 320px;
    }

    .aboutBanner.flexBox img {
        width: calc(100% - 320px);
        overflow: hidden;
    }



    /* .aboutBanner img {
        margin-top: 0;
    } */

    /* Classic rooms and interios  */
    .outer.flexBox {
        flex-direction: row;
        gap: 70px;
    }

    .featuresWrapper.columnFlexBox {
        max-width: 350px;
    }



    /* Footer  */
    .smallScreenWrapper {
        display: none;
    }

    .linksWrapper .infoWrapper {
        display: block;
        max-width: 250px;
    }

    .infoWrapper {
        text-align: center;
    }

    .infoWrapper p {
        margin: 6px 0 32px;
    }

    .footerIcons {
        margin-top: 65px;
    }

    .footerIcons.flexBox {
        justify-content: flex-end;
        gap: 150px;
    }

    .subsribeButton.flexBox {
        justify-content: center;
    }

}

@media (min-width:769px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    nav {
        padding: 60px 0 0;
    }

    .navMenu {
        gap: 44px;
    }

    .bookButton {
        padding: 14px 48px;
    }

    /* Services  */
    #services {
        margin-top: 64px;
    }


    .facility img {
        width: 48px;
        height: 48px;
    }

    .facility p {
        font-size: 16px;
    }

    /* Title  */
    .titleWrapper {
        margin-top: 140px;
    }

    /* Our Room  */
    .roomChoices .flexBox {
        flex-direction: row;
        gap: 0;
    }

    .roomChoices .columnFlexBox {
        flex-direction: column;
    }

    /* About US  */
    .aboutBanner img {
        float: left;
        width: unset;
        height: unset;
    }

    .aboutUs .about {
        max-width: inherit;
    }

    .about h1 {
        font-size: 46px;
    }

    .about.columnFlexBox .line {
        margin: 16px 0 40px;
    }

    .about p {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .aboutBanner button {
        margin-top: 40px;
    }

    /* Classic rooms and interios  */
    .interiorWrapper.columnFlexBox {
        text-align: start;
    }

    .featuresWrapper.columnFlexBox {
        max-width: 714px;
        flex-direction: row;
    }

    .fWrapper.flexBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .feature.columnFlexBox {
        padding: 24px;
    }

    .fWrapper h4 {
        margin: 16px 0 14px;
    }

    /* Footer  */
    .linksWrapper {
        padding-top: 50px;
    }

    .footerIcons {
        padding-bottom: 40px;
    }

    .footerIcons.flexBox {
        gap: 350px;
    }

    .socialIcons.flexBox {
        gap: 24px;
    }

    footer h6 {
        font-size: 22px;
    }

    .quickLinks a,
    .useful a {
        font-size: 16px
    }

    .infoWrapper {
        max-width: 360px;
    }

    .subsribeButton {
        width: 100%;
    }

    .subsribeButton input {
        padding: 19px 20px;
        border: 1.5px solid white;
        background-color: var(--secondary-color);
        color: white;
        border-radius: 6px;
    }

    .subsribeButton button {
        padding: 19px 25px;
        border: 1.5px solid white;
        background-color: var(--primary-color);
        color: white;
        border-radius: 6px;
        margin-left: -12px;
    }


    .subsribeButton {
        width: 100%;
    }

}

@media (min-width:1280px) {}